/* @import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Space+Grotesk:wght@300..700&display=swap"); */

@import "tailwindcss";

* {
  margin: 10;
  padding: 10;
}

html,
body {
  overflow: visible;
  /* background-color: #006041; */
}

/* @plugin "@tailwindcss/typography"; */

@font-face {
  font-family: "Dumba";
  src: url("/fonts/Dumba.woff");
  font-weight: 400;
}

@font-face {
  font-family: "Onder";
  src: url("/fonts/Onder-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "karla";
  src: url("/fonts/Karla-VariableFont_wght.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/fonts/PlusJakartaSans-VariableFont_wght.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-VariableFont_wght.ttf");
  font-weight: 400;
}
@theme {
  /* fonts */
  --font-dumba: "Dumba", normal;
  --font-onder: "Onder", normal;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-karla: "Karla", sans-serif;
  --font-gortesk: "Space Grotesk", sans-serif;

  /* tracking */
  --tracking-1: 0.5em;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow: hidden; /* Hide scrollbar for the parent div if it's the main scroll container */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@layer components {
  .titleHeader {
    @apply font-onder w-full text-xl md:text-lg lg:text-2xl;
  }

  .sectionContainer {
    @apply flex text-white h-screen justify-center items-center text-wrap;
  }

  .paragraph {
    @apply font-gortesk text-lg md:text-xl lg:text-3xl;
  }

  .sectionOneContainer {
    @apply flex text-white h-screen justify-center items-center text-wrap;
  }
  .divOneContainer {
    @apply text-center text-wrap w-full  justify-between h-auto  space-y-1 lg:space-y-2;
  }

  .sectionOneTitle {
    @apply font-onder w-full text-2xl lg:text-xl xl:text-6xl;
  }

  .sectionOneParagraph {
    @apply font-gortesk w-full text-2xl tracking-tighter lg:text-4xl;
  }

  .sectionTwoContainer {
    @apply flex h-screen text-wrap justify-center text-white flex-col items-end;
  }

  .divTwoContainer {
    @apply h-1/5 md:h-1/2 space-y-1 lg:h-1/4 xl:h-1/2 w-2/3 lg:w-1/5 xl:w-1/3 text-wrap lg:justify-between;
  }

  .sectiontwoTitle {
    @apply font-onder w-full text-sm lg:text-lg xl:text-2xl tracking-tighter;
  }

  .sectiontwoParagraph {
    @apply font-gortesk text-xl tracking-tighter lg:text-3xl;
  }

  .divThreeContainer {
    @apply w-3/4 lg:w-2/3 h-1/6 flex flex-col justify-center items-center px-10 flex-shrink-0 text-center text-wrap;
  }

  .sectionThreeTitle {
    @apply font-onder w-full text-2xl  xl:text-4xl font-bold text-center;
  }

  .sectionThreeParagraph {
    @apply font-gortesk text-sm lg:text-2xl text-wrap w-full lg:w-2/3;
  }

  .sectionFourthContainer {
    @apply flex h-screen text-wrap justify-center text-white flex-col items-start;
  }
  .divFourthContainer {
    @apply h-1/4 md:h-1/2 space-y-1  xl:h-1/2 w-2/3 lg:w-1/3 xl:w-1/3 text-wrap lg:justify-between;
  }
}
